:root {
      --background-color: #ffffff;
      --primary-light-color: #c0e0de;
      --primary-dark-color: #77bbb7;
      --secondary-color: #cde6e5;
      --secondary-light-color:#d8f8ef;
      --dark-color: #333333;
}

.text-color-primary-light { color: var(--primary-light-color) }
.text-color-primary-dark { color: var(--primary-dark-color) }
.text-color-secondary { color: var(--secondary-color) }
.text-color-secondary-bright { color: var(--secondary-light-color) }

.padding-left-15 { padding-left: 15px !important; }
.padding-100 { padding: 100px !important; }
.padding-top-10 { padding-top: 10px !important; }
.padding-top-150 { padding-top:150px !important; }
.padding-bottom-50 { padding-bottom: 50px !important; }
.padding-top-50 { padding-top: 50px !important; }
.padding-top-20 { padding-top: 20px !important; }
.uppercase { text-transform: uppercase; }

body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      background-color: var(--background-color);
      font-family: 'Poppins', sans-serif;
      color: var(--dark-color);
      overflow: hidden;
      overflow-y: auto;
}

main {
      flex: 1 0 auto;
}

blockquote {
      border-left-color: var(--secondary-light-color);
}

.modal-footer,
footer {
      background-color: var(--primary-light-color) !important;
}

.name-logo {
      font-weight: bolder;
      font-size: 1em;
      color: var(--primary-dark-color)
}

#about_site_modal {
      background-color: var(--priamry-light-color);
      color: #ffffff;
}

.btn {
      background-color: var(--secondary-light-color);
}

.computer-image {
      position: absolute;
      left: 70%;
      width: 100vh;
}

.image-container {
      opacity: 0.5;
}

.skills-icon {
      padding: 10px;
}

.connect-icon:hover {
      opacity: 0.5;
      transform: scale(0.97);
}

.title {
      font-size: 2.5em;
      font-weight: bold;
      padding: 10px 0px;
}

.main-title {
      font-size: 3em;
      font-weight: bold;
}

.page-footer .container .title {
      padding: 0px;
      margin: 5px 0; 
}

.cards-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: center;
}

.card-container {
      width: 250px;
      padding: 10px;
      margin: 10px;
}

.card-image {
      transition: all 0.25s ease;
      border-radius: 5px;
}

.card-image:hover {
      cursor: pointer;
      transform: scale(0.97);
}

.cover-image {
      border-radius: 5px;
}

.card-title {
      padding: 10px 0px;
      font-weight: bold;
      font-size: 1.5em;
}

.ig-images-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: center;
}

.ig-image {
      width: 150px;
      height: 150px;
      background-size: cover;
      display: inline-block;
      border-radius: 5px;
      margin: 5px;
}

.ig-image:hover {
      transform: scale(0.99);
      cursor: pointer;
}

.ig-image.one {
      background-image: url("../assets/desk-1.jpg");
}

.ig-image.two {
      background-image: url("../assets/selfie-purple.jpg");
}

.ig-image.three {
      background-image: url('../assets/laptop.jpg')
}

.ig-image.four {
      width: 100px;
      background-image: url('../assets/selfie-focus.jpg')
}

.ig-image.five {
      max-height: 300px; 
      width: 300px;
      background-image: url('../assets/dream-big.jpg');
}

.footer-copyright {
      text-align: center;
}

.link{
      text-decoration: underline;
      display: block;
      font-size: 1.2em;
}

button {
      border: none;
}