:root {
      --background-color: #ffffff;
      --primary-light-color: #c0e0de;
      --secondary-color: #cde6e5;
      --secondary-light-color:#d8f8ef;
      --dark-color: #333333;
}

.text-color-primary-light { color: var(--primary-light-color) }
.text-color-secondary { color: var(--secondary-color) }
.text-color-secondary-bright { color: var(--secondary-light-color) }

.padding-left-15 { padding-left: 15px !important; }
.padding-100 { padding: 100px !important; }
.padding-top-10 { padding-top: 10px !important; }
.padding-top-150 { padding-top:150px !important; }
.padding-bottom-50 { padding-bottom: 50px !important; }
.padding-top-50 { padding-top: 50px !important; }
.padding-top-20 { padding-top: 20px !important; }

body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      background-color: var(--background-color);
      font-family: 'Poppins', sans-serif;
      color: var(--dark-color);
      overflow: hidden;
      overflow-y: auto;
}

main {
      flex: 1 0 auto;
}

header {
      margin: 10% 0px;
}

blockquote {
      border-left-color: var(--secondary-color);
}

.modal-footer,
footer {
      background-color: var(--primary-light-color) !important;
}

#about_site_modal {
      background-color: var(--priamry-light-color);
      color: #ffffff;
}

.btn {
      background-color: var(--secondary-light-color);
}

#about_me .container {
      margin-top:100px;
      margin-bottom: 100px;
}

#about_me:before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 130%;
      top: 0;
}  

.computer-image {
      position: absolute;
      left: 70%;
      width: 100vh;
}

.image-container {
      opacity: 0.5;
}

.skills-icon {
      padding: 10px;
}

.avatar-image {
      width: calc(100% - 100px);
      height: calc(100% - 100px);
}

.connect-icon:hover {
      opacity: 0.5;
}

.title {
      font-size: 2.5em;
      font-weight: bold;
}

.main-title {
      font-size: 3em;
      font-weight: bold;
}
